@model MvcApplication6.Models.Player
@using MvcApplication6.Controllers

@{
    ViewBag.Title = "EditPlayer";
}

<h2>EditPlayer</h2>


<h3>This is a mobile page</h3>


@Html.JeffsExtension("Hello World")  


